# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

CADA.Portal/Backup/*
CADA.Portal/Backup1/*
CADA.Portal/CADA.Portal.sln
CADA.Portal/UpgradeLog.htm
CADA.Portal/UpgradeLog2.htm
CADA.Portal/CADA.Portal/obj/*
CADA.Portal/CADA.Portal/bin/*
*.cache