/* please use this file for your own styles 
 * it's need for easiest update of newest wersions
*/
/* MISC  
----------------------------------------------------------*/
.clear_placeholder {
    clear: both;
    display: block;
    height: 0px;
    width: 100%;
    visibility: hidden;
}

.clear {
    clear: both;
}

/* clearfix */


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*  Header
----------------------------------------------------------*/
#header {
    padding-bottom: 50px;
    padding-top: 30px;
    height: 80px;
}

    #header #logo {
        float: left;
        padding: 0;
        margin: 0;
    }

        #header #logo a {
            text-decoration: none;
        }

            #header #logo a .develop {
                width: 200px;
                height: 100px;
                background: #70f3ff;
            }

    #header .top_right {
        float: right;
        padding-top: 10px;
    }

ul.top_nav {
    list-style: none outside none;
    *float:right;
}

    ul.top_nav li {
        display: inline-block;
        margin-left: 10px;
        float:left;
    }

        ul.top_nav li a {
            float: left;
            font-weight: bold;
            font-size: 11pt;
            color: #555;
        }

        ul.top_nav li.lang {
            margin-left: 30px;
        }

#social_media {
    text-align: right;
    padding-top: 10px;
    *padding-top:0px;
}

    #social_media .develop {
        height: 25px;
        background: #ECF3EC;
        float: right;
        padding: 8px 8px 0 8px;
    }

/* Footer
----------------------------------------------------------*/
footer 
{
    position:relative;
    padding: 40px 0 30px 0;
    background: #74BEEF;
    height: 130px;
}

    footer .container {
        margin: 0 auto;
        width: 1000px;
        padding: 0 20px;
        color: #fff;
    }

        footer .container .copyright {
            font-weight: 100;
            width: 600px;
        }

            footer .container .copyright p {
                margin: 0;
            }
            
            
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

#container {
    margin: 0 auto;
    width: 1000px;
}

#contant {
    margin: 10px 0 30px 0;
}

.content_wrap {
    border: 2px solid #f0f0f4;
    margin-bottom:20px;
    *position:relative;
}


/* TAB MENU   
----------------------------------------------------------*/
#nav {
}

    #nav ul {
        float: left;
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        #nav ul li {
            position: relative;
            display: inline;
            float: left;
            margin-bottom: -1px;
        }

            #nav ul li a, #nav ul li a:visited {
                background-color: #465c71;
                border: 1px #4e667d solid;
                color: #dde4ec;
                display: block;
                line-height: 1.35em;
                padding: 10px 15px;
                text-decoration: none;
                white-space: nowrap;
                font-weight: bold;
                margin: 1px;
            }

                #nav ul li a:hover {
                    background-color: #bfcbd6;
                    color: #465c71;
                    text-decoration: none;
                }

                #nav ul li a:active {
                    background-color: #465c71;
                    color: #cfdbe6;
                    text-decoration: none;
                    opacity: 1;
                    -moz-opacity: 1;
                    -webkit-opacity: 1;
                    filter: ALPHA(Opacity=100);
                }

#nav_report {
    float: right;
    margin-bottom: -1px;
}

    #nav_report a {
        height: 22px;
        color: #fff;
        background: #FBBF13;
        display: block;
        line-height: 1.35em;
        padding: 10px 15px;
        text-decoration: none;
        white-space: nowrap;
        font-weight: bold;
    }

        #nav_report a:hover {
            background: #ffa400;
        }
        

.nav-tabs li a {
    background-color: #eee;
    margin-right: 3px;
    font: 14px/25px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    filter: ALPHA(Opacity=50);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: ALPHA(Opacity=100);
}
        ul.nav-tabs li:first-child
        {
            margin-left:15px;
        }

.nav.nav-tabs{
    *border:0 none;
}

/**
.tab-wrap{
    background:#ffb3a7;
    clear:both;
    *margin-left:5px;
}
.tab-container .tab-page {
    height: auto;
    font: 14px/25px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #888;
    display: block;
    padding: 10px;
    border: 1px solid #cfd2d7;
    border-top:0 none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
**/


/* aSideBar
--------------------------------------------------------*/
#asideBar {
}

    #asideBar h3 {
        font: bold 14px/25px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    }

#aSide_Child {
    width: 100%;
    float: left;
    height: auto;
}

    #aSide_Child .childBlock {
        margin-bottom: 13px;
        text-align: center;
    }

.childBlock img {
    height: 170px;
    width: 170px;
    margin: 8px 0 0 0;
}

.childBlock .button {
    width: 170px;
    border-radius: 0;
}

.side_children
{
    background: #f3f9f1;
}


/* Index
------------------------------------------------------------*/
.index_wrap
{
    padding:10px;
}

.index_wrap .block
{
    height:240px;
}


/* Sponsorship Chlidren
--------------------------------------------------------*/
.title_Left {
    float: left;
    width: 400px;
    background: #FDE9B4;
    padding: 4px 10px;
    margin: 0;
}

.title_Right {
    float: left;
    width: 160px;
    background: #FED970;
    padding: 4px 10px;
    margin: 0;
}

.welcomeTitle {
    height: 60px;
    font-size: 20pt;
}

#myChild img, #MyChildren img {
    width: 100px;
    height: 100px;
    margin: 5px 8px;
}

/* Inbox
-------------------------------------------------------*/
#Inbox {
    background: #EBF6E6;
}

    #Inbox .title h2 {
        color: #7DC057 !important;
    }

    #Inbox ul {
        list-style: none;
        margin-left:5px;
    }

        #Inbox ul li {
            height: 35px;
            margin-bottom:3px;
        }

            #Inbox ul li .new_info {
                background: #E2F0D9;
                padding: 4px 8px;
                font-size: 1.1em;
                border-left: 3px solid #008fd5;
            }

                #Inbox ul li .new_info:hover, #Inbox ul li a:hover, #Inbox ul li .date:hover {
                    background: #CDE6BE;
                    color: #555;
                }

            #Inbox ul li a {
                color: #555;
                text-decoration: none;
                float:left;
            }

#Inbox ul li .date {
    float: right;
    color: #BEC9B8;
}

/* Events
-------------------------------------------------------*/
#Events {
    background: #E1F5FC;
    height: 350px;
}

    #Events .title  h2 {
        color: #5893B5 !important;
    }

/* Project
-------------------------------------------------------*/
#Project {
    background: #FCEBF3;
    height: 350px;
}

    #Project .title h2 {
        color: #EC7AAD !important;
    }


/* Social
-------------------------------------------------------*/
#Social {
    background: #FCE6D9;
    height: 350px;
}

    #Social .title h2 {
        color: #EA5503 !important;
    }


/* SponsorShip Index
------------------------------------------------------*/
.sponsorship_wrap {
}

#MyChildren {
}

#Child_Info {
    padding: 4px 8px;
    background:#FFF8E8;
    margin-bottom:20px;
}

    #Child_Info img {
        width: 130px;
        margin: 0 0 12px 0;
    }

    #Child_Info .button {
        width: 130px;
    }
    
    #donors .donor
    {
        float:left;
        margin-right:7px;
    }
    

/* MyIntroduce
-------------------------------------------------------*/
#Intro_Viedio {
    margin: 10px auto 20px;
}

.myViedio 
{
    width:100%;
    position: relative;
}

#Intro_Content {
}

/* Greeting Cards
-------------------------------------------------------*/
.Cards_Wrap{
}

.Card img{
    width:80%;
}

/* Activities
------------------------------------------------------*/
#Manager_Video
{
}

#Manager_Video .video_Content
{
    text-align:center;
}

/* Porjects
-----------------------------------------------------*/
#pro_Map
{
    
}

#pro_intro
{
}

.pro_target
{
    background:#F3F3F3;
}

/* Project Entry
---------------------------------------------------*/

#pro_Video
{
    text-align:center;
}

#pro_act #activities_wrap
{
    margin-top:20px;
}

#pro_act .acitivites
{
    margin-right:1%;
    background:#F3F3F3;
}

#pro_act .acitivites a
{
    color:#333;
    text-decoration:none;
}

/* GreetingCards
--------------------------------------------------*/
#Process
{
    top:100px;
}

.process_wrap
{
    position:relative;
}

#Process .modal-header
{
    background:#FBBF13;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

#Process .modal-title
{
    color:#FFF;
    font:bold 16px/25px "Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
}

#Process .modal-body
{
    text-align:center;
}


/* Greeting Cards Form
--------------------------------------------------*/
#Card_Form_wrap
{
    width:970px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}

#Card_Form
{
    height:480px;
    width:4850px;
    position:relative;
}

#Card_Btn .pre
{
    float:left;
}
#Card_Btn .next
{
    float:right;
}

#Card_Form .sub_form
{
    height:100%;
    width:970px;
    float:left;
}

#child
{
    background: #9EFEFF;
}

#picture
{
    background: #70f3ff;
}

#modal
{
    background: #30dff3;
}

#greeting
{
    background: #44CEF6;
}

#preview
{
    background: #177CB0;
}

#picture .picture_wrap
{
    width:400px;
    margin:0 auto;
}

#modal .modal_wrap
{
    width:760px;
    margin:0 auto;
}

#modal .modal_block
{
    height:220px;
}

#greeting .greeting_wrap
{
    width:480px;
    margin:0 auto;
}

#greeting .card
{
    width:420px;
    height:300px;
    background:#eedeb0;
    margin:0 auto;
}

#greeting .greeting_form
{
 width:480px;
 margin:0 auto;   
}

.greeting_form .form-control
{
    padding:0px 5px;
    display:inline-block;
}

.greeting_form .one_half.form-block,
.greeting_form .one_half_last.form-block
{
    margin-bottom:0;
}
.greeting_form .greeting_text
{
    
}

/* Visit
------------------------------------------------------*/
#visit
{
}

#visit fieldset
{
    border:1px dashed #D9D9D9;
}

.form-group .input-wrap
{
    float:left;
}

.form-group .one_half,.form-group .one_half_last
{
    margin-bottom:0;
}

#visitor_table .form-control.input-sm
{
    width:86%;
}
#visitor_table th
{
    text-align:center;
}

.hightlight
{
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #F7F7F9;
}

/* Share
----------------------------------------------------*/
#Share_Progress
{
}
