<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CADA_PortalEntities" connectionString="metadata=res://*/DataContext.CADA.Portal.DataContext.csdl|res://*/DataContext.CADA.Portal.DataContext.ssdl|res://*/DataContext.CADA.Portal.DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.9.20;initial catalog=CADA_Portal;user id=sa;password=23096199;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>